<style>
        a{
                text-decoration:none;
                
        }
        *{
                background-color:#23272a ;
        }
</style>
<footer class="w3-container w3-padding-64 w3-bottom  ">

         <a href="{{ path('app_team')  }}" class="w3-left">A propos de nous</a>
        <br>
       <a href="{{ path('app_rgpd')  }}" class="w3-left"> RGPD</a>

        
        <div class="w3-center">
        
        <a href="https://www.instagram.com/"><i class="fa fa-instagram  w3-hover-opacity green"></i></a>
        <a href="https://accounts.snapchat.com/accounts/v2/login"><i class="fa fa-snapchat  w3-hover-opacity green"></i></a>
    
        <a href="https://x.com/"> <i class="fa-brands fa-x-twitter  w3-hover-opacity green">X</i></a>
      
        <BR>
        <a href="{{ path('app_cgu')  }}" >CGU</a>
        </div>
        
        
        <a  href="{{ path('app_services')  }}" class="w3-right">Nos services</a>
        <br>
        <a  href="{{ path('app_cgv')  }}" class="w3-right">CGV</a> 

</footer>