{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}

{% block body %}
    <div class="w3-container w3-margin-top">
        <h2>Formulaire de contact</h2>
        {{ form_start(form) }}
        <div class="w3-row-padding">
            <div class="w3-col m6">
                {{ form_row(form.brand) }}
            </div>
            <div class="w3-col m6">
                {{ form_row(form.website) }}
            </div>
        </div>
        {{ form_row(form.socialMedia) }}
        {{ form_row(form.collectionDescription) }}
        {{ form_row(form.desiredDates) }}
        {{ form_row(form.concept) }}
        {{ form_row(form.outfitCount) }}
        {{ form_row(form.technicalRequirements) }}
        {{ form_row(form.budget) }}
        {{ form_row(form.additionalInformation) }}
        {{ form_row(form.consent) }}
        <button class="w3-btn w3-green" type="submit">Envoyer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
