{% extends 'base.html.twig' %} 

{% block title %}Contact{% endblock %} 

{% block body %} 


    <div class="w3-content w3-container w3-card w3-display-middle" style="max-width:2000px;margin-top:46px"> 
        <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact"> 
            <h2 class="w3-wide green w3-center">CONTACT</h2> 
            <p class="w3-opacity purple w3-center">N'hésitez pas!</p> 

            <div class="w3-row w3-padding-32"> 
                <div class="w3-col m6 w3-large w3-margin-bottom"> 
                    <a href="https://www.google.com/maps/search/?api=1&query={{ location|url_encode }}"><i class="fa fa-map-marker green" style="width:30px"></i> {{ location|default('Your Location') }}</a><br> 
                    <a href="tel:{{ phone }}"><i class="fa fa-phone green" style="width:30ml0px"></i> {{ phone|default('+0000000000') }}</a><br> 
                    <a href="mailto:{{ email }}"><i class="fa fa-envelope green" style="width:30px"></i> {{ email|default('info@example.com') }}</a><br> 
                </div> 

            </div> 
        </div> 
    </div> 

{% endblock %} 
